наблюдаемые св-ва watch
вычисляемые св-ва computed
(Это аналог useEffect и useMemo)

пример  использования_______________________

-функция возвращает по какому-то условию отфильстрованный массив, и допустим этот отфильтрованный массив мы рисуем в шаблоне , и при каждом рендиренге
компонента у нас отрабатывает ф-я 

fulterArray() {
    return this.array.filter(...)
}

в computed свойств с вою очередь запоминает результат каких-то вычислений ( в данном случает результат фильтрации )
 и эта ф-я будет вызвана лишь единожды , в последующем случае она будет вызывать запомнившийся результат, своего рода кеширование, 
  и заново эта ф-я будет делать перерасчет только в случае , если изменится зависимость, которая используется внутри этой ф-ии

computed: { ////////////////////// в данном случает зависимостью является this.array 
    fulterArray() {
    return this.array.filter(...)
}
}
